@import "vars";

.MyOrder {
  width: 360px;
  padding: 24px;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  background-color: #fff;
  top: 3.8rem;
  bottom: auto;
  animation: swipeLeft 0.26s ease;
  z-index: 99;
  height: calc(100% - 3.5rem);
  overflow-y: scroll;
  padding: 2rem;
}
.MyOrder::-webkit-scrollbar {
  width: 0.5rem;
}

.MyOrder::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
.MyOrder::-webkit-scrollbar-thumb:active {
  background-color: var(--light-green);
}
.title-container {
  display: flex;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
  cursor: pointer;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.OrderItem img {
  cursor: pointer;
}
.primary-button {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
@media (max-width: 640px) {
  .MyOrder {
    width: 100%;
  }
}
@keyframes swipeLeft {
  0% {
    width: 0;
  }
  100% {
    width: 360px;
  }
}
